.footer a {
  font-size: .8rem;
  color: #FF6600;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.footer p {
  font-size: .8rem;
  margin-bottom: 0;
}

.footer a:hover {
  color: #0040FF;
}
