/* Orange: #FF6600
Blue: #0040FF
Logo Grey: #A9A9A9
Backgroung Grey: #DDDDDD */

html, body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	text-align: inherit;
}

body {
	background-color: #DDDDDD;
}

p {
  letter-spacing: .5px;
  color: #707070;
}

.section {
  margin-bottom: 3rem;
}

.section-header {
  margin-bottom: 1rem;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(/images/jbr-background.jpg);
  padding-top: 3.5rem;
  height: 500px;
}

.content-area {
  background-color: #ffffff;
  border: 1px solid #a9a9a9;
  padding: 2rem;
  margin-top: 23rem;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
