/* Orange: #FF6600
Blue: #0040FF */

html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

.App {
  background-color: #dddddd;
  background-color: #dddddd;
  height: 100vh;
}

.section-header {
  margin-bottom: 1rem;
  letter-spacing: .5px;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(/images/jbr-background.jpg);
  padding-top: 3.5rem;
  height: 500px;
  /* background-attachment: fixed; */
}

.content-area {
  background-color: #ffffff;
  border: 1px solid #707070;
  padding: 2rem;
  margin-top: 23rem;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: #707070;
}
