@media (max-width: 1650px) {
  .image-container img {
    height: 400px;
  }
}

@media (max-width: 1199px) {
  .sponsors img {
    height: 30px;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 576px) {
  /* .home-video {
    width: 275px;
    height: 150px;
  } */

  #firstVideo {
    margin-right: 0 !important;
  }
}
