@media (max-width: 1650px) {
  .image-container img {
    height: 400px;
  }
}

@media (max-width: 1199px) {
  .sponsors img {
    height: 20px;
  }
  #secondVideo {
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .home-video {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 576px) {
  /* .home-video {
    width: 275px;
    height: 150px;
  } */

  #firstVideo, #thirdVideo {
    margin-right: 0 !important;
  }
}
