.link {
  color: #0040FF;
  font-weight: 600;
}

.link:hover {
  color: #FF6600;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  text-decoration: none;
}

#firstVideo {
  margin-right: 1rem;
}
